<form (ngSubmit)="onSubmit(model)" #heroForm="ngForm">
    index: {{idx}}
    id: {{model.id}}<br />
    date: {{model.date}}
    start am: <input type="time" [(ngModel)]="model.startAm" name="startAm" (change)="updateDay()"/>
    end am:  <input type="time"  [(ngModel)]="model.endAm" name="endAm" (change)="updateDay()"/>
    start pm: <input type="time" [(ngModel)]="model.startPm" name="startPm" (change)="updateDay()"/>
    end pm: <input type="time"   [(ngModel)]="model.endPm" name="endPm" (change)="updateDay()"/>

    {{diff}}
    <br />
    notes:  <input type="text"   [(ngModel)]="model.notes" name="notes" (change)="updateDay()"/>
    <br />
    <input type="submit"  />
</form>