<form (ngSubmit)="onSubmit(model)" #heroForm="ngForm">
    id: {{model.id}}<br />
    date: {{model.date}}<br />
    day: {{model.date|date:'EEEE'}}<br />
    week of year: {{model.date|date:'w'}}<br />

    start am: <input type="time" class="form-control" [(ngModel)]="model.startAm" name="startAm" (change)="updateDay()"/>
    end am:  <input type="time" class="form-control" [(ngModel)]="model.endAm" name="endAm" (change)="updateDay()"/>
    start pm: <input type="time" class="form-control" [(ngModel)]="model.startPm" name="startPm" (change)="updateDay()"/>
    end pm: <input type="time" class="form-control" [(ngModel)]="model.endPm" name="endPm" (change)="updateDay()"/>

    DIFF: {{diff}}
    <br />
    notes:  <input type="text" class="form-control" [(ngModel)]="model.notes" name="notes" (change)="updateDay()"/>
    <br />
    <input class="btn btn-primary" type="submit"  />
</form>

<button type="button" class="btn btn-primary" (click)="deleteDay(model.id)">delete</button>
